
<title>Change - SignUp</title>

<head>
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

    <h1>LogIn</h1>


    <form action='/sessions' method="POST">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email">

        <label for="password">Password:</label>
        <input type="pasword" id="password" name="password">
        
        <button type="button" class="btn btn-secondary">LogIn</button>

    </form>