
<br></br>
<div class="container">

<head>

</head>

<body style="background-color: #fff;">

  <div class="card">
    <style>
      article {
        padding-top: 10px;
      }
    </style>

    <div class="card-header" style="background-color: #FF652F; color: #fff;">
      <p>
        <center><h3><strong>Pledge #3 </strong></h3></center>
      </p>
    </div>
      <div class="card-body">
        <center><h5 class="card-title">Starting A Conversation</h5></center>
        <p class="card-text">I pledge to have conversations about institutional racism and discrimination. I will speak to family members, friends, teachers, neighbors, and employers or employees.  It is my responsiblity to not stay silent.
        </p>
        <p>I will ask to have a conversations and discuss these sensitive issues.  I will make time, listen, and keep an open mind during these conversations, while at the same time, not faultering in my values and beliefs.
        </p>
        <p>When I am in a situation where the other person is not ready to talk calmly and openly, I will respectfully voice my beliefs and move on to the next possible conversation.</p>
        <p>I will repeat this step again and again with as many community members as possible.</p>
        <br>
        
        <% if current_user.pledges.find_by(checkbox3: "true") %>
          <div>
            <center><a href="/users/dashboard" class="btn btn-primary">Dashboard</a></center></button>
          </div>

        <% else %>
          <div class="form-group form-check">
            <form action='/pledges/3' method="POST">
              <input type="checkbox" class="form-check-input" id="checkbox3" name="checkbox3" value="true">
              <label class="form-check-label" for="checkbox3">By checking this box, you agree to electronically sign this pledge.</label>
              <center><button type="submit" class="btn btn-primary">Sign Pledge #3</a></center></button>
            </form>
          </div>
          <% end %>
      </div>
  </div>

</body>

<br></br>
<br></br>
<br></br>


  

  <div>
    <center> <a href="/logout" class="btn btn-primary">Log Out</a></center>
  </div>

</div>