

<div class="container">

<head>

</head>

<body style="background-color: #fff;">

<div class="card">
  <style>
    article {
      padding-top: 10px;
    }
  </style>

  <div class="card-header" style="background-color: #FF652F; color: #fff;">
    <p>
      <center><h3><strong>Pledge #3 </strong></h3></center>
    </p>
  </div>
    <div class="card-body">
      <center><h5 class="card-title">Educating Those Around Us</h5></center>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.
      </p>
    
      <% if current_user.pledges.find_by(checkbox3: "true") %>
        <div>
          <center><a href="/users/home" class="btn btn-primary">Home</a></center></button>
        </div>

      <% else %>
        <div class="form-group form-check">
          <form action='/pledges/3' method="POST">
            <input type="checkbox" class="form-check-input" id="checkbox3" name="checkbox3" value="true">
            <label class="form-check-label" for="checkbox3">By checking this box, you agree to electronically sign this pledge.</label>
            <center><button type="submit" class="btn btn-primary">Sign Pledge #3</a></center></button>
          </form>
        </div>
        <% end %>
    </div>
</div>


<br></br>
<br></br>
<br></br>
<br></br>
<br></br>


  </body>

  <br></br>
  <div>
    <center> <a href="/logout" class="btn btn-primary">Log Out</a></center>
  </div>

</div>