
<br></br>
<div class="container">

<head>

</head>

<body style="background-color: #fff;">

<div class="card">
  <style>
    article {
      padding-top: 10px;
    }
  </style>

  <div class="card-header" style="background-color: #BC4639; color: #fff;">
    <p>
      <center><h3><strong>Pledge #2 </strong></h3></center>
    </p>
  </div>
    <div class="card-body">
      <center><h5 class="card-title">Take A Stand Against Racism</h5></center>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.
      </p>

      <% if current_user.pledges.find_by(checkbox2: "true") %>
        <div>
          <center><a href="/users/home" class="btn btn-primary">Home</a></center></button>
        </div>

      <% else %>
        <div class="form-group form-check">
          <form action='/pledges/2' method="POST">
            <input type="checkbox" class="form-check-input" id="checkbox2" name="checkbox2" value="true">
            <label class="form-check-label" for="checkbox2">By checking this box, you agree to electronically sign this pledge.</label>
            <center><button type="submit" class="btn btn-primary">Sign Pledge #2</a></center></button>
          </form>
        </div>
        <% end %>
    </div>
</div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>



  </body>

  <br></br>
  <div>
    <center> <a href="/logout" class="btn btn-primary">Log Out</a></center>
  </div>

</div>