
<br></br>
<div class="container">

<head>

</head>

<body style="background-color: #fff;">

<div class="card">
  <style>
    article {
      padding-top: 10px;
    }
  </style>

  <div class="card-header" style="background-color: #FC4445; color: #fff;">
    <p>
      <center><h3><strong>Pledge #4 </strong></h3></center>
    </p>
  </div>
    <div class="card-body">
      <center><h5 class="card-title">Taking Action</h5></center>
      <p class="card-text">I pledge to engage in specifically anti-racist activities.
      </p>
      <p>I will participate in positive social movements, join groups, attend meetings, and join protests. I will donate my time.<p>
      <p>I will post messages of support and/or positive social change in my windows and on my lawn.</p>
      <p>I will talk to local officials and officers of the law. I will VOTE at the ballot box. I understand that local elections are just as, if not more, important than federal elections.</p>
      <p>I will vote with my dollar.  
      </p>
      <br>

      <% if current_user.pledges.find_by(checkbox4: "true") %>
        <div>
          <center><a href="/users/dashboard" class="btn btn-primary">Dashboard</a></center></button>
        </div>

      <% else %>
        <div class="form-group form-check">
          <form action='/pledges/4' method="POST">
            <input type="checkbox" class="form-check-input" id="checkbox4" name="checkbox4" value="true">
            <label class="form-check-label" for="checkbox4">By checking this box, you agree to electronically sign this pledge.</label>
            <center><button type="submit" class="btn btn-primary">Sign Pledge #4</a></center></button>
          </form>
        </div>
        <% end %>
    </div>
</div>


<br></br>
<br></br>
<br></br>



  </body>

  <br></br>
  <div>
    <center> <a href="/logout" class="btn btn-primary">Log Out</a></center>
  </div>

</div>