
<br></br>
<div class="container">

<head>

</head>

<body style="background-color: #fff;">

<div class="card">
  <style>
    article {
      padding-top: 10px;
    }
  </style>

  <div class="card-header" style="background-color: #BC4639; color: #fff;">
    <p>
      <center><h3><strong>Pledge #2 </strong></h3></center>
    </p>
  </div>
    <div class="card-body">
      <center><h5 class="card-title">Educate Myself</h5></center>
      <p class="card-text">I pledge to do my own, personal homework from reading articles and books, especially by black authors and leaders, to watching videos and documenteries on the topic of racism.</p>
      <p>I will seek out local to country-wide organizations that are doing there part to help educate us on the crisis and are actively working towards solutions.</p>
      <p>I will use my social media accounts to follow accounts of those fighting for the cause and truly listen to what they have to say.</p>
      <p>We suggest that you cast a wide net.  Look for diversity in your research sources.  Everyone has a perspective.  Try to understand as many different points of view as possible to get a full picture of the racial landscape.</p>
      </p>
      <p>We URGE you to research the institutions and organizations that you are already involved with, and clearly understand their attitude and actions towards race. 
      </p>
      <p>Please visit our <a href="/resources">"Resources"</a> page if you are looking for a place to start.</p>

      <% if current_user.pledges.find_by(checkbox2: "true") %>
        <div>
          <center><a href="/users/dashboard" class="btn btn-primary">Dashboard</a></center></button>
        </div>

      <% else %>
        <div class="form-group form-check">
          <form action='/pledges/2' method="POST">
            <input type="checkbox" class="form-check-input" id="checkbox2" name="checkbox2" value="true">
            <label class="form-check-label" for="checkbox2">By checking this box, you agree to electronically sign this pledge.</label>
            <center><button type="submit" class="btn btn-primary">Sign Pledge #2</a></center></button>
          </form>
        </div>
        <% end %>
    </div>
</div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>



  </body>

  <br></br>
  <div>
    <center> <a href="/logout" class="btn btn-primary">Log Out</a></center>
  </div>

</div>