@media screen {
    
        .jumbotron {
            background-image: url(/images/love.jpg);
            background-size: cover;
            height: 75%;
            color: #501B1D;
        }
        
}