
@media screen {
    
.jumbotron {
    background-image: url(/images/strength.jpg);
    background-size: cover;
    background-position: 0 20%;
    height: 100;
    color: #BC4639;}

#body {
    background-color: grey;
}

h2 {
    color: #BC4639;
}

}