@media screen {
    
    .jumbotron {
        background-image: url(/images/together.jpg);
        background-size: cover;
        background-position: 0 35%;
        height: 200%;
        color: #fff;
    }
    
}