
<head>
  <link rel="stylesheet" href="/stylesheets/dashboard.css" />
</head>

<body>
<!-- JUMBOTRON  -->
    <div class="jumbotron text-right">
      <div class="container">
        <br></br>
            <h2><b>Hello, <%= @user.first_name %></b></h2>
        <br></br>
        <br></br>
        <br></br>
      </div> 
    </div> 
    

    <div class="container">
      <div>
        <h3> Thank you for being a part of the conversation.</h3> 
        <br>
          <p class="lead">Racial disparities dominate American society. These inequalities are throughout all of our government systems, especially in the criminal justice system of the United States.</p>
          <p>Our country has a long history of implementing and maintaining racist policies. People of color face structural barriers when it comes to securing quality housing, healthcare, employment, and education.  These policies and some of the leaders that govern this country only fan the flames of intolerence within our communities.  In turn, the black community lives in fear of senseless acts of hatred and aggression. </p>
          <p>It is all of our jobs to protect EVERY SINGLE member of our community.  We must pledge to protect and uplift the black citizens of our entire country. BLACK LIVES MATTER!</p>
        <br>
          <h3 class="page-header"><center>Choose A Pledge To Sign Today:</center></h3>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="background-color: #501B1D; color: #fff;">
            <div class="card-body">
              <h5 class="card-title">Stand Against Racism</h5>
              <p class="card-text">We acknowledge institutional racism and discrimination exist.</p>
              
              <% if current_user.pledges.find_by(checkbox1: 'true') %>
                <a href="/pledges/1" class="btn btn-primary">View Signed Pledge #1</a>
              <% else %>
                <a href="/pledges/1" class="btn btn-primary">Sign Pledge #1</a>
              <% end %>

            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card" style="background-color: #BC4639; color: #fff;">
            <div class="card-body">
              <h5 class="card-title">Educate Myself</h5>
              <p class="card-text">We believe in equality for all and we know change starts with us.</p>

              <% if current_user.pledges.find_by(checkbox2: 'true') %>
                <a href="/pledges/2" class="btn btn-primary">View Signed Pledge #2</a>
              <% else %>
                <a href="/pledges/2" class="btn btn-primary">Sign Pledge #2</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <br></br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="background-color: #FF652F; color: #fff;">
            <div class="card-body">
              <h5 class="card-title">Starting A Conversation</h5>
              <p class="card-text">We are willing to talk with those around us about systemic racism.</p>
              
              <% if current_user.pledges.find_by(checkbox3: 'true') %>
                <a href="/pledges/3" class="btn btn-primary">View Signed Pledge #3</a>
              <% else %>
                <a href="/pledges/3" class="btn btn-primary">Sign Pledge #3</a>
              <% end %>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="background-color: #FC4445; color: #fff;">
            <div class="card-body">
              <h5 class="card-title">Taking Action</h5>
              <p class="card-text">Let our voices be heard from our homes to social media to the ballot box.</p>
              
              <% if current_user.pledges.find_by(checkbox4: 'true') %>
                <a href="/pledges/4" class="btn btn-primary">View Signed Pledge #4</a>
              <% else %>
                <a href="/pledges/4" class="btn btn-primary">Sign Pledge #4</a>
              <% end %>

            </div>
          </div>
        </div>
      </div>

    </div>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
    

    </body>