
<title>Change - Home</title>
    <link rel="icon" type="image/gif/png" href="title_picture.png">

<head>
<link rel="stylesheet" href="/stylesheets/home.css" />

</head>

<!-- JUMBOTRON  -->
    <div class="jumbotron text-right">

     <div class="container">
        <br></br>
            <h2>Hello, <%= @user.first_name %></h2>
        <br></br>
        <br></br>
            <br></br>
      </div> 

    </div> 
    
  <body>
    <div class="container">
    <h3> Thank you for being a part of the conversation.</h3> 
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione perspiciatis impedit architecto repellat quo quis voluptatum, vero, enim totam eligendi eum. Reprehenderit voluptas laudantium iste laboriosam ratione esse soluta <u>totam</u>.</p>
      <h3 class="page-header"><center>Choose a pledge to sign today:</center></h3>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color: #501B1D; color: #fff;">
      <div class="card-body">
        <h5 class="card-title">Insitutional Racism</h5>
        <p class="card-text">We have to acknowledge that structural racism exists.</p>
        
        <% if current_user.pledges.find_by(checkbox1: 'true') %>
          <a href="/pledges/1" class="btn btn-primary">View Signed Pledge #1</a>
        <% else %>
          <a href="/pledges/1" class="btn btn-primary">Sign Pledge #1</a>
        <% end %>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="background-color: #BC4639; color: #fff;">
      <div class="card-body">
        <h5 class="card-title">Stand Against Racism</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        <% if current_user.pledges.find_by(checkbox2: 'true') %>
          <a href="/pledges/2" class="btn btn-primary">View Signed Pledge #2</a>
        <% else %>
          <a href="/pledges/2" class="btn btn-primary">Sign Pledge #2</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br></br>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color: #FF652F; color: #fff;">
      <div class="card-body">
        <h5 class="card-title">Educate Others</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        
        <% if current_user.pledges.find_by(checkbox3: 'true') %>
          <a href="/pledges/3" class="btn btn-primary">View Signed Pledge #3</a>
        <% else %>
          <a href="/pledges/3" class="btn btn-primary">Sign Pledge #3</a>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color: #FC4445; color: #fff;">
      <div class="card-body">
        <h5 class="card-title">Take Action</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        
        <% if current_user.pledges.find_by(checkbox4: 'true') %>
          <a href="/pledges/4" class="btn btn-primary">View Signed Pledge #4</a>
        <% else %>
          <a href="/pledges/4" class="btn btn-primary">Sign Pledge #4</a>
        <% end %>

      </div>
    </div>
  </div>
</div>

    <br></br>
    <br></br>

<div>
    <center> <a href="/logout" class="btn btn-primary">Log Out</a></center>
</div>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
    </div>
</body>