
<title>Change - Home</title>
    <link rel="icon" type="image/gif/png" href="title_picture.png">

<head>

    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
<h2>Hello, <%= @user.first_name %></h2>


</body>


