
<title>Change - LogIn</title>

<head>
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

    <h1>LogIn</h1>
    <h6>*required</h6><br>

    <% if @err %>
        <p style="color:#FF0000";><%= @err %></p>
    <% end %>

    <form action='/sessions' method="POST">

        <label for="email">*Email:</label><br>
        <input type="text" id="email" name="email">
        <br></br>
        <label for="password">*Password:</label><br>
        <input type="password" id="password" name="password">
        <br></br>
        <button type="submit" class="btn btn-primary">LogIn</button>

    </form>
    <br>
    <p>If you haven&#39t already: Please <a href="/signup">SignUp</a>