
<title>Change - SignUp</title>

<head>
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

        <h1>SignUp</h1>


        <form action='/signup' method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="password">Password:</label>
        <input type="pasword" id="password" name="password">
        <button type="button" class="btn btn-secondary">SignUp</button>


  
</form>
   