
<title>Change - SignUp</title>

<head>

    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<h1>SignUp</h1>
<h6>*required</h6><br>

<% if @user && @user.errors.any? %>

    <% @user.errors.full_messages.each do |msg| %>
        <p style="color:#FF0000";><%= msg %></p>
    <% end %>

<% end %>
   
    <form action='/users' method="POST">
        <label for="email">*Email:</label> <br>
        <input type="text" id="email" name="email">
    <br></br>
        <label for="password">*Password:</label><br>
        <input type="password" id="password" name="password">
    <br></br>
        <label for="first_name">*First Name:</label><br>
        <input type="text" id="first_name" name="first_name">
    <br></br>
        <label for="last_initial">*Last Initial:</label><br>
        <input type="text" id="last_initial" name="last_initial">
    <br></br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name">
    <br></br>
        <label for="phone_number">Phone Number:</label><br>
        <input type="text" id="phone_number" name="phone_number">
    <br></br>
        <label for="zip_code">*Zip Code:</label><br>
        <input type="text" id="zip_code" name="zip_code">
    <br></br>
        <label for="ethnicity">Ethnicity:</label><br>
        <input type="ethnicity" id="ethnicity" name="ethnicity">
    <br></br>
        <label for="political_party">Political Party:</label><br>
        <input type="text" id="political_party" name="political_party">
    <br></br>     
        <button type="submit" class="btn btn-primary">SignUp</button>

    </form>

   