
<br></br>
<div class="container">

<h1 style="color:#501B1D;"><b>Edit Post</b></h1>
<br>

<form action=<%= "/posts/#{@post.id}" %> method="POST">

    <input type="hidden" name="_method" value="put">

    <label for="name">Title:</label><br>
    <input size= "33" type="text" name="post[name]" value="<%= @post.name %>">
<br></br>
    <label for="content">Content:</label><br>
    <textarea type="text" name="post[content]" rows="5" cols="33"><%= @post.content %></textarea>
<br></br>
    <button type="submit" class="btn btn-primary">Update Post</button>

</form>

<br>

<form action=<%= "/posts/#{@post.id}" %> method="POST">

    <input type="hidden" name="_method" value="delete">

    <button type="submit" class="btn btn-primary">Delete Post</button>

</form>

<br>

<a href="/posts" class="btn btn-primary">Return To All Posts</a>


</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>