
<br></br>
<div class="container">

<h1>Edit Post:</h1>

<form action=<%= "/posts/#{@post.id}" %> method="POST">

    <input type="hidden" name="_method" value="put">

    <label for="name">Title:</label><br>
    <input size= "50" type="text" name="post[name]" value=<%= @post.name %>>
<br></br>
    <label for="content">Content:</label><br>
    <input size= "50" type="text" name="post[content]" value=<%= @post.content %>>
<br></br>
    <button type="submit" class="btn btn-primary">Update Post</button>

</form>

<br>

<form action=<%= "/posts/#{@post.id}" %> method="POST">

    <input type="hidden" name="_method" value="delete">

    <button type="submit" class="btn btn-primary">Delete Post</button>

</form>

</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>