
<br></br>
<div class="container">
<a href="/posts/new" class="btn btn-primary" style="float:right">Create A New Post</a>

<h1>Posts:</h1>

<br>


    <ul>
        <% @posts.each do |post| %>
            <li><a href="<%= "/posts/#{post.id}" %>"><%= post.name %></a></li>
        <% end %>
    </ul>

    


    
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

</div>