
<br></br>
<div class="container">

<h1>Posts:</h1>

    <ul>
        <% @posts.each do |post| %>
            <li><a href="<%= "/posts/#{post.id}" %>"><%= post.name %></a></li>
        <% end %>
    </ul>

    <a href="/posts/new" class="btn btn-primary">Create A New Post</a>



<br></br>
    <br></br>

    <div>
   
        <center> <a href="/logout" class="btn btn-primary">Log Out</a></center>

    </div>
    
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

</div>