<br></br>
<div class="container">

<h1>Create A New Post</h1>

<form action="/posts" method="POST">

    <label for="name">Title:</label>
    <input size= "50" type="text" name="post[name]">
<br></br>
    <label for="content">Content:</label>
    <input size= "50" type="text" name="post[content]">
<br></br>
    <button type="submit" class="btn btn-primary">Post</button>

</form>

</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>