
<br></br>
<div class="container">

    <h1 style="color:#501B1D;"><b> Search Results </b></h1>

    <% @posts.each.reverse_each do |post| %>
        <% c = post.created_at %>
        <li><%= c.strftime("%B %e, %Y") %>
        <a href="<%= "/posts/#{post.id}" %>"><%= post.name %></a></li>
        <% end %>


<br></br>
<br></br>
<br></br>

        
</div>