
<br></br>
<div class="container">

    <h1 style="color:#501B1D;"><b>Your Posts</b></h1>

    <br>
        
        <a href="/posts/new" class="btn btn-primary">Create A New Post</a>
    <br></br>
    <ul>
       
    <% Post.all.reverse.select do |post| %>
        <% if post.user_id == current_user.id %>
  
        <li><h4><a href="<%= "/posts/#{post.id}" %>"><%= post.name %></a></h4></li>
        <h6> <% c = post.created_at %>
            <%= c.strftime("%B %e, %Y") %></h6>
        <%= post.content %>
        <br></br>

        <% end %>
    <% end %>

        
        
    </ul>


    
    <br></br>
    <br></br>
    <br></br>
 

</div>

