
<head>
<link rel="stylesheet" href="/stylesheets/commitment.css" />

</head>

<!-- JUMBOTRON  -->
    <div class="jumbotron text-left">
      <div class="container">
        <br></br>
        <p class="font-weight-bold">
        <h1>People</h1>
        <h1>Committing</h1>
        <h1>To Change:</h1></p>
        <br></br>
        <br></br>
        <br></br>
      </div> 
    </div> 


<div class="container">
    <center>
            <% a = User.all %>
        <h1>-<%= a.length %>-</h1>
        <h2>Commitments & Counting</h2>
    </center>

    <br></br>

    <ul>
        <% @sorted_array = @users.all.sort_by {|user| user.zip_code} %>
        <% @sorted_array.each do |user| %>
            
            <li> <%= user.first_name %> <%= user.last_initial %>., <%= user.zip_code%></li>
        
        <% end %>
    </ul>

    
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

</div>