
<head>
<link rel="stylesheet" href="/stylesheets/commitment.css" />

</head>

<body>
    <!-- JUMBOTRON  -->
            <div class="jumbotron text-left">
            <div class="container">
                <br></br>
                <p class="font-weight-bold">
                <h1><b>People</b></h1>
                <h1><b>Committing</b></h1>
                <h1><b>To Change</b></h1></p>
                <br></br>
                <br></br>
                <br></br>
            </div> 
            </div> 


        <div class="container">
            <div>
            <center>
                    <% a = User.all %>
                <h1>-<%= a.length %>-</h1>
                <h2>Commitments & Counting</h2>
            </center>
            </div>
            
            <br>

            <div>
                <ul>
                    <% @sorted_array = @users.all.sort_by {|user| user.zip_code} %>
                    <% @sorted_array.each do |user| %>
                        
                        <li> <%= user.first_name %> <%= user.last_initial %>., <%= user.zip_code%></li>
                    
                    <% end %>
                </ul>
            </div>
        </div>
                
    
    <br></br>
    <br></br>
    <br></br>
    
</body>

