
<br></br>
<div class="container">

    <h1>Editor&#39;s Quarterly Newsletter:</h1>

<br></br>
<br></br>



    <ul>
       
    <% Post.all.reverse.select do |post| %>
        <% if post.user_id == 21 %>
  
        <h2><%= post.name %></h2>
        <h6><%= post.created_at %></h6><br>
        <%= post.content %>
        <br></br>

        <% end %>
    <% end %>

        
        
    </ul>


    
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

</div>


