
<br></br>
<div class="container">

    <h1 style="color:#501B1D;"><b>Editor&#39;s Quarterly Newsletter</b></h1>

<br>

    <ul>
       
    <% Post.all.reverse.select do |post| %>
        <% if post.user_id == 21 %>
  
        <li><h2><%= post.name %></h2></li>
        <h6> <% c = post.created_at %>
            <%= c.strftime("%B %e, %Y") %></h6><br>
        <%= post.content %>
        <br></br>

        <% end %>
    <% end %>

        
        
    </ul>


    
    <br></br>
    <br></br>
    <br></br>
 

</div>


