

<body>
    <br></br>
    <div class="container">

        <h1 style="color:#501B1D;"><b>Resources</b></h1>

    <br></br>
        <div>
            <h3>IMMEDIATE ASSISTANCE DURING THE PROTESTS:</h3>
                <p><a href="https://bailproject.org/">The Bail Project</a></p>
                <p>The Bail Project™ National Revolving Bail Fund is a critical tool to prevent incarceration and combat racial and economic disparities in the bail system.</p>
            <br>
                <p><a href="https://www.aclu.org/">ACLU</a>-American Civil Liberties Union</p>
                <p>The ACLU dares to create a more perfect union — beyond one person, party, or side. Our mission is to realize this promise of the United States Constitution for all and expand the reach of its guarantees.</p>
            <br>
                <p><a href="https://www.naacpldf.org/about-us/">NAACP Legal Defense Fund</a>-National Association for the Advancement of Colored People</p>
                <p>The NAACP is America’s premier legal organization fighting for racial justice. Through litigation, advocacy, and public education, LDF seeks structural changes to expand democracy, eliminate disparities, and achieve racial justice in a society that fulfills the promise of equality for all Americans.</p>
        </div>
    <br></br>
        <div>
            <h2>Those Making a Difference:</h2>
            <br>
                <h3>People:</h3>
                    <p><a href="https://www.rachelcargle.com/">Rachel Elizabeth Cargle</a></p>
                <h3>Authors:</h3>
                    <p><a href="https://www.biography.com/writer/james-baldwin">James Baldwin</a></p>
                    <p><a href="https://www.biography.com/writer/toni-morrison">Toni Morrison</a></p>
                    <p><a href="https://robindiangelo.com/publications/">White Fragility</a>-by: Robin Diangelo</p>
                <h3>Artists:</h3>
                    <p><a href="http://www.jordancasteel.com/">Jordan Casteel</a></p>
                    <p><a href="https://www.instagram.com/kehindewiley/?hl=en">Kehinde Wiley</a></p>
                    <p><a href= "https://walkerart.org/collections/artists/kara-walker">Kara Walker</a></p>
                <h3>CODING Organizations:</h3>
                    <p><a href="https://flatironschool.com/">Flatiron School</a>-Flatiron and the Learn community have repeatedly shown up these past few weeks to let their community know Black Lives Matter and to hold space for their students.</p>
                    <p><a href="https://www.blackgirlscode.com/">Black Girls Code</a>-Their Vision: To increase the number of women of color in the digital space.</p>
                    <p><a href="https://reacttraining.com/react-router/">React Router</a>-On Tuesday, June 2, 2020, React Router shut down their site, directing ppl to make donations to Black Lives Matter, ACLU, and NAACP LDF.  They matched donations for the day in the amount of ?</p>
                <h3>Organizations:</h3>
                    <p><a href="https://blacklivesmatter.com/">Black Lives Matter</a></p>
                    <p><a href="https://www.facebook.com/BlackLivesMatter5280/">BLM: Denver Chapter</a></p>
                    <p><a href="https://www.redlineart.org/redlineathome//friday-doughnuts-black-lives-matter-edition-with-lares-feliciano">RedLine Contemporary Art Gallery</a></p>
                    <p><a href="https://cbca.org/2020/06/cbca-stands-united-in-support-of-black-lives/">CBCA of Denver</a></p>
                <h3>Companies:</h3>
                    <p><a href="https://robinhood.com/us/en/">Robinhood</a></p>
                    <p><a href="https://www.airbnb.com/">AIRBNB</a></p>
                    <p><a href="https://www.savagex.com/">SAVAGE X FENTY</a></p>
                <h3>Social Media Accounts:</h3>
                    <p><a href="https://www.instagram.com/botanicaldyke/?hl=en">@botanicaldyke</a></p>
                <h3>Media:</h3>
                    <p><a href="https://www.forbes.com/sites/danabrownlee/2020/06/01/dear-white-people-here-are-10-actions-you-can-take-to-promote-racial-justice-in-the-workplace/#782000774a92">"Dear White People: Here Are 10 Actions You Can Take To Promote Racial Justice In The Workplace"</a>-by: Dana Brownlee</p>
                    <p><a href="https://medium.com/equality-includes-you/what-white-people-can-do-for-racial-justice-f2d18b0e0234">"75 Things White People Can Do for Racial Justice"</a>-by: Corinne Shutack</p>
                <h3>Articles & Docs:</h3>
                    <p><a href="https://docs.google.com/document/d/1CjZMORRVuv-I-qo4B0YfmOTqIOa3GUS207t5iuLZmyA/edit">"Natl Resource List #GeorgeFloyd+"</a>-by: Indidgo (instagram: @botanicaldyke)
                    <p><a href="https://docs.google.com/document/d/1Xa9Av-NfuFsWBHlsMvPiqJHdNedZgnCRW56qAS-7PGQ/mobilebasic?urp=gmail_link">"Resources for Accountability and Actions for Black Lives"</a>-by: Calisa Johnson</p>
                    <p><a href="https://hyperallergic.com/568933/black-lives-matter-white-allies-social-media/">"Black Squares Don't Save Black Lives"</a>by: Kambole Campbell</p>
                    <p><a href="https://www.elle.com/culture/career-politics/a32722895/businesses-supporting-black-lives-matter/">"Here Are Companies That Have Donated To The Black Lives Matter Movement"</a>-by: Hilary Weaver
        </div>
            <br></br>
            <br></br>
            <br></br>
        
    </div>
</body>