<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/welcome.css" />
</head>

<body>

  <!-- JUMBOTRON -->
    <div class="jumbotron text-right">
      <div class="container">
        <h1>I PLEDGE:</h1>
        <h2>To Make</h2>
        <h2>a Difference</h2>
        <h6> The time has come</h6>
        <h6>for us to have a conversation.</h6>
        <br></br>
        <br></br>
        <a href="/signup" class="btn btn-primary">Sign Up</a>
        <a href="/login" class="btn btn-primary">Log In</a>
      </div> 
    </div>
  
    
    <div class="container">
      <h1 class="page-header">We Need To Talk</h1>
      <h4><small>We should have done this sooner...</small></h4>
      <br>
        <p class="lead">Starting a conversation about racism and how it infiltrates each and every one of our lives is never easy.  We can feel angry, depressed, lost, frustrated, and sometimes even excluded, about what we can do to help and where to begin.</p>
        <p><mark>This site has been created to offer beginning steps to first acknowleding that institutional racism and discrimination permeate our society and then fighting to break down the systems that specifically keep black individuals and families down.</p>
        <p>WE MUST REMEMBER: SMALL ACTIONS LEAD TO BIG CHANGES!  It is common to question ourselves as we do make the choice to stand up for the members of our community affected by racism.  With each pledge we take and subsequent actions there-after, each of us can make a difference.  If you haven&#39;t already, please watch the introductory video ([to be created for August event]) to help start your journey to becoming actively anti-racist and re-structuring our American institutions so that they serve everyone.</p>
      <br>
        <center><a href="/signup"><h4>Step 1 - Sign Up & Log In</h4></a>
        <h4>Step 2 - Take The Pledge</h4></center> 
    </div>

    <br></br>
    <br></br>
    <br></br>


</body>